default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV["POSTGRES_HOST"] %>
  port: <%= ENV["POSTGRES_PORT"] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>

development:
  <<: *default
  database: small_api_wrapper_development

test:
  <<: *default
  database: small_api_wrapper_test

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
  database: small_api_wrapper_production
  username: small_api_wrapper
  password: <%= ENV["SMALL_API_WRAPPER_DATABASE_PASSWORD"] %>
